---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- Split publications into standard peer-reviewed and working papers -->

{% assign peer_reviewed = site.publications | where_exp: "item", "item.status == nil" %}
{% assign working_papers = site.publications | where_exp: "item", "item.status == 'submitted' or item.status == 'in_prep'" %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in peer_reviewed reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in peer_reviewed reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


{% if working_papers.size > 0 %}
  <br />
  <h2>Working Papers & Submitted Manuscripts</h2><hr />
  {% for post in working_papers reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}